# QA Report

**Generated At**: 2018-08-26 09:31:40

**QA directory**: qa

## Test plans

### qa.commands.add
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| add_new_case.yml | Add a new case | Aleksey Timin | 4 | 2018-08-26 09:31:16 |
| add_new_case_in_force.yml | Add a new case in force mode | Aleksey Timin | 2 | 2018-08-26 09:31:23 |
    
### qa.commands.run
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| run_test_plan.yml | Run a test plan and pass all tests | Aleksey Timin | 1 | 2018-08-26 09:31:40 |
    
