# QA Report

**Generated At**: 2018-09-02 11:13:38

**QA directory**: qa

## Test plans

### qa.commands.add
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| add_new_case.yml | Add a new case | Aleksey Timin | 17 | 2018-09-02 11:13:32 |
| add_new_case_in_force.yml | Add a new case in force mode | Aleksey Timin | 8 | 2018-09-02 11:13:37 |
    
### qa.commands.run
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| run_test_plan.yml | Run a test plan and pass all tests | Aleksey Timin | 1 | 2018-08-26 09:31:40 |
    
