# QA Report

**Generated At**: 2018-08-26 09:26:37

**QA directory**: qa

## Test plans

### qa.commands.add
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| add_new_case.yml | Add a new case | Aleksey Timin | 3 | 2018-08-24 17:23:52 |
| add_new_case_in_force.yml | Add a new case in force mode | Aleksey Timin | 1 | 2018-08-24 17:25:41 |
    
### qa.commands.run
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| run_test_plan.yml | Run a test plan and pass all tests | Aleksey Timin | 0 | None |
    
