# QA Report

**Generated At**: 2018-09-15 05:20:20

**QA directory**: qa

## Test plans

### qa.commands.add
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| add_new_case.yml | Add a new case | Aleksey Timin | 6 | 2018-09-15 05:15:46 |
| add_new_case_in_force.yml | Add a new case in force mode | Aleksey Timin | 4 | 2018-09-15 05:16:41 |
    
### qa.commands.check
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| check_all_runs_passed_error.yml | Checking if all the last runs are passed returns error | Aleksey Timin | 1 | 2018-09-15 05:18:35 |
| check_all_runs_passed_success.yml | Checking if all the last runs are passed is success | Aleksey Timin | 1 | 2018-09-15 05:19:14 |
    
### qa.commands.run
    
| TestCase | Description |Author | Run Count | Last Run |
|----------|-------------|-------|-----------|----------|    
| run_test_plan.yml | Run a test plan and pass all tests | Aleksey Timin | 2 | 2018-09-15 05:20:18 |
    
